@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.btn {
    background-color: white;
    border-style: none;
    cursor: pointer;
    font-size: 18px;
}

.dropbtn {
    background-color: white;
    color: #2874f0;
    cursor: pointer;
    width: 7vw;
    min-height: 32px;
    font-size: 15px;
    font-weight: 600;
    border-style: none;
    /* font-style: italic; */
}

.signin-btn {
    float: right;
    background-color: white;
    border-style: none;
    color: #2874f0;
    cursor: pointer;
    font-weight: 800;
}

.signin-btn:hover {
    border-bottom: 1px solid #2874f0;
}

.iconColor {
    color: #2874f0;
    margin: 0 20px 0 8px;
}

.dropdown-content a:hover {
    background-color: rgba(209, 203, 203, 0.623);
}

.dropdown-content2 a:hover {
    background-color: rgba(209, 203, 203, 0.623);
}

.dropdown-content3 a:hover {
    background-color: #f1f3f6;
    color: #2874f0;
}

.dropdown-content4 p a:hover {
    background-color: #f1f3f6;
    color: #2874f0;
}

.cart a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.cart-header-btn button {
    background-color: #2874f0;
    color: white;
    width: 90px;
    height: 36px;
    text-decoration: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    font-family: Arial, sans-serif;

}


.cart-main-content .items .items-header .green {
    color: green;
}

.cart-main-content .items .items-header .light {
    color: #888888;
}

.golden {
    color: goldenrod;
}